# 本地开发后端URL
# NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000

# 生产环境后端URL
NEXT_PUBLIC_MEDUSA_BACKEND_URL=https://admin.fs6688.com/api

# 站点URL
SITE_URL=http://localhost:3000


SMTP_HOST=smtp.163.com
SMTP_PORT=465
SMTP_USER=your_email@163.com
SMTP_PASSWORD=your_password
